{% extends "layout.html.twig" %}

{% block content %}
    <div class="container" style="margin-top: 100px">
        <div class="row justify-content-center">
            <div class="col-md-6" align="center">
                <h2>Please sign in</h2>
                <form method="post" action="/login">
                    <input class="form-control" type="text" name="name" placeholder="User name" value="{{ name }}"><br>
                    <input class="form-control" type="password" name="password" placeholder="User password"><br>
                    <input class="btn btn-primary" type="submit" name="submit" value="Sign in"><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
