{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Thank you. The following data was sent:</h1><br>
    <h3>Name: {{ name }}</h3><br>
    <h3>Email: {{ email }}</h3><br>
    <h3>Phone: {{ phone }}</h3>
{% endblock %}